In [2]:
import pandas as pd
import numpy as np

In [3]:
oil_df=pd.read_csv("oil_gas_dataset.csv")

In [4]:
oil_df.head()

      Symbol        Date   Open   High    Low  Close  Volume Currency
0  Brent Oil  2000-01-04  23.90  24.70  23.89  24.39   32509      USD
1  Brent Oil  2000-01-05  24.25  24.37  23.70  23.73   30310      USD
2  Brent Oil  2000-01-06  23.55  24.22  23.35  23.62   44662      USD
3  Brent Oil  2000-01-07  23.57  23.98  23.05  23.09   34826      USD
4  Brent Oil  2000-01-10  23.04  23.78  23.04  23.73   26388      USD

In [5]:
oil_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23024 entries, 0 to 23023
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Symbol    23024 non-null  object
 1   Date      23024 non-null  object
 2   Open      23024 non-null  float64
 3   High      23024 non-null  float64
 4   Low       23024 non-null  float64
 5   Close     23024 non-null  float64
 6   Volume    23024 non-null  int64
 7   Currency  23024 non-null  object
dtypes: float64(4), int64(1), object(3)
memory usage: 1.4+ MB

In [6]:
gdp_df=pd.read_csv("sectoral_gdp.csv")

In [7]:
gdp_df.head()

,Quarter/Year,Unnamed: 1,2012-1,2012-2,2012-3,2012-4,2013-1,2013-2,2013-3,2013-4,...,2021-1,2021-2,2021-3,2021-4,2022-1,2022-2,2022-3,2022-4,2023-1,2023-2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Industry,ISIC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Agriculture, forestry and fishing",A,289.5,282.1,284.0,287.5,279.9,270.3,269.8,271.5,...,256.4,238.6,219.5,218.7,204.5,208.5,196.3,204.7,196.2,205.2
3,Mining and quarrying,B,"9,212.6","8,893.6","8,773.2","8,486.3","9,024.4","9,047.8","9,031.8","8,871.1",...,"5,901.5","5,708.6","5,589.9","5,669.7","5,573.5","5,683.4","6,079.8","5,670.9","5,630.0","5,572.6"
4,Manufacturing,C,"7,888.0","7,847.7","7,768.4","7,030.1","7,692.1","7,710.2","7,516.2","7,537.2",...,"5,980.1","6,066.7","6,100.6","6,169.4","6,308.3","6,324.1","6,572.4","6,419.2","6,189.8","6,276.9"

In [8]:
gdp_df=gdp_df.transpose()

In [9]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48 entries, Quarter/Year to 2023-2
Data columns (total 41 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       0 non-null      object
 1   1       2 non-null      object
 2   2       48 non-null     object
 3   3       48 non-null     object
 4   4       48 non-null     object
 5   5       1 non-null      object
 6   6       48 non-null     object
 7   7       48 non-null     object
 8   8       48 non-null     object
 9   9       48 non-null     object
 10  10      48 non-null     object
 11  11      48 non-null     object
 12  12      48 non-null     object
 13  13      48 non-null     object
 14  14      48 non-null     object
 15  15      48 non-null     object
 16  16      48 non-null     object
 17  17      48 non-null     object
 18  18      48 non-null     object
 19  19      1 non-null      object
 20  20      48 non-null     object
 21  21      48 non-null     object
 22  22      48 non-null     object
 23  23      48 non-null     object
 24  24      48 non-null     object
 25  25      48 non-null     object
 26  26      48 non-null     object
 27  27      48 non-null     object
 28  28      48 non-null     object
 29  29      48 non-null     object
 30  30      47 non-null     object
 31  31      7 non-null      object
 32  32      48 non-null     object
 33  33      48 non-null     object
 34  34      48 non-null     object
 35  35      48 non-null     object
 36  36      48 non-null     object
 37  37      48 non-null     object
 38  38      48 non-null     object
 39  39      48 non-null     object
 40  40      1 non-null      object
dtypes: object(41)
memory usage: 16.8+ KB

In [10]:
gdp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
Quarter/Year,NaN,Industry,"Agriculture, forestry and fishing",Mining and quarrying,Manufacturing,Of which:,"Food, beverages and tobacco products","Textiles, clothing, leather, wood, paper and p...",Petroleum and chemical products,Other manufactured products,...,Of which,Crude Oil Exploration & Extraction,Condensate Extraction,Natural Gas Exploration & Extraction,Asphalt,Petroleum support services,Refining (incl. LNG),Manufacture of Petrochemicals,Petroleum and natural gas distribution,Source: Central Statistical Office
Unnamed: 1,NaN,ISIC,A,B,C,NaN,CA,CB-C,CD-E,CF-M,...,NaN,B1,B2,B3,B4,B5,C1,C2,G1,NaN
2012-1,NaN,NaN,289.5,"9,212.6","7,888.0",NaN,"1,199.1",231.6,"5,959.2",498.1,...,NaN,"3,027.1","1,344.6","4,074.5",55.2,679.2,"2,638.6","3,091.3","1,290.3",NaN
2012-2,NaN,NaN,282.1,"8,893.6","7,847.7",NaN,"1,200.2",280.6,"5,811.6",555.3,...,NaN,"3,182.4","1,100.6","3,924.4",55.2,630.4,"2,607.8","3,027.3","1,297.9",NaN
2012-3,NaN,NaN,284.0,"8,773.2","7,768.4",NaN,"1,227.5",263.9,"5,744.2",532.8,...,NaN,"3,188.1",970.9,"4,083.1",55.2,447.1,"2,611.7","2,932.7","1,283.5",NaN

Preprocessing decisions are based on the following observations:<br>
The first row of this dataset contains industry labels.<br>
The second row is a code for each industry.<br>
There are many NaN columns (0,1,5,19,31,40).<br>
Multi-letter codes (row 2) contain a combination of industry products. Our research focuses on the contribution of individual sectors. Thus these rows are not needed.

In [11]:
gdp_clean=gdp_df.copy()

In [12]:
#extract dates column
dates=pd.DataFrame(gdp_clean[0])
dates.info()
print(dates.head())
print(dates.iloc[5])

<class 'pandas.core.frame.DataFrame'>
Index: 48 entries, Quarter/Year to 2023-2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       0 non-null      object
dtypes: object(1)
memory usage: 1.8+ KB
                0
Quarter/Year  NaN
Unnamed: 1    NaN
2012-1        NaN
2012-2        NaN
2012-3        NaN
0    NaN
Name: 2012-4, dtype: object

In [13]:
#clean dates data
years=[]
quarters=[]
for i in range(2,len(dates)):
    date=dates.iloc[i].name

    #convert to string and remove trailing whitespace
    date=str(date).strip()

    #split into year and quarter
    year, quarter = date.split("-")
    years.append(int(year))
    quarters.append(int(quarter))

dates_df=pd.DataFrame({'Year':years, 'Quarter':quarters})
dates_df.head()

   Year  Quarter
0  2012        1
1  2012        2
2  2012        3
3  2012        4
4  2013        1

In [16]:
# set column names to industry
gdp_clean.columns=gdp_clean.iloc[0]
gdp_clean=gdp_clean[1:]

In [17]:
#extract and clean total gdp column
total_gdp=gdp_clean['GDP at basic prices']
values=[]

for val in total_gdp[1:]:   #exclude nan in first row
    amount=float(val.replace(",",""))
    values.append(amount)

total_gdp_df=pd.DataFrame({'Total GDP':values})
total_gdp_df.head()

   Total GDP
0    41793.4
1    42040.3
2    42450.8
3    41692.8
4    42009.3

In [82]:
#extract and clean industry columns
industries=[]
values=[]
for col in gdp_clean.columns:
    data=gdp_clean[col].iloc[0]
    data=str(data).strip()
    if len(data)==1:
        industries.append(col)

industries_df=pd.DataFrame(gdp_clean[industries][1:])


industries_df = industries_df.reset_index(drop=True) 
industries_df

Quarter/Year,"Agriculture, forestry and fishing",Mining and quarrying,Manufacturing,Electricity and gas,Water supply and sewerage,Construction,Trade and repairs,Transport and storage,Accommodation and food services,Information and communication,Financial and insurance activities,Real estate activities,"Professional, scientific and technical services",Administrative and support services,Public administration,Education,Human health and social work,"Arts, entertainment and recreation",Other service activities,Domestic services
0,289.5,"9,212.6","7,888.0","1,309.3",512.3,"2,155.9","9,179.4","1,314.3",563.6,945.3,"2,333.3",753.3,604.0,779.6,"2,687.4",903.4,147.4,94.4,80.5,39.8
1,282.1,"8,893.6","7,847.7","1,299.3",509.3,"2,199.7","9,855.2","1,316.1",523.3,956.9,"2,304.2",754.7,544.2,801.2,"2,682.8",905.4,147.1,94.1,83.2,40.0
2,284.0,"8,773.2","7,768.4","1,327.9",513.2,"2,216.4","10,018.6","1,501.2",546.6,974.9,"2,329.7",756.6,602.5,856.3,"2,701.3",914.3,147.9,94.7,82.9,40.1
3,287.5,"8,486.3","7,030.1","1,229.4",522.3,"2,037.7","10,746.8","1,234.4",506.4,981.3,"2,360.5",757.4,619.1,921.5,"2,686.9",917.6,147.7,94.5,85.4,40.3
4,279.9,"9,024.4","7,692.1","1,329.9",485.1,"2,246.7","9,442.0","1,455.2",555.3,978.9,"2,339.3",760.1,446.9,"1,020.8","2,658.4",924.4,148.0,94.7,87.0,40.4
5,270.3,"9,047.8","7,710.2","1,308.6",493.5,"2,383.2","9,883.0","1,331.6",544.9,986.0,"2,145.8",760.9,647.5,"1,076.0","2,673.1",926.1,148.4,95.0,84.5,40.5
6,269.8,"9,031.8","7,516.2","1,296.0",511.6,"2,241.9","10,722.2","1,544.6",558.0,"1,002.8","2,174.6",772.3,683.5,"1,090.1","2,688.7",934.9,148.5,95.0,84.3,40.7
7,271.5,"8,871.1","7,537.2","1,350.7",500.8,"2,237.0","12,896.0","1,612.0",522.6,"1,030.6","2,174.3",769.1,712.7,"1,051.5","2,748.0",938.3,148.6,95.1,87.0,40.8
8,256.5,"8,787.9","7,451.5","1,374.4",473.2,"2,305.2","11,239.8","1,438.1",520.9,"1,003.8","2,203.9",772.2,698.5,973.3,"2,737.0",945.4,148.6,95.1,85.5,40.9
9,256.1,"8,776.8","7,495.6","1,292.5",450.1,"2,239.0","12,385.1","1,439.9",531.5,"1,020.1","2,226.9",775.3,668.4,929.2,"2,770.8",949.9,148.9,95.3,85.1,41.1
10,273.4,"9,175.1","7,555.8","1,304.5",468.2,"2,338.7","13,088.4","1,671.7",583.0,"1,031.8","2,183.2",778.9,665.5,918.5,"2,767.0",958.3,149.1,95.5,86.7,41.2
11,312.4,"8,986.4","7,239.2","1,240.0",491.3,"2,403.3","14,028.1","1,663.5",567.1,"1,045.8","2,200.5",781.7,626.5,935.7,"2,781.9",960.7,149.2,95.5,90.2,41.3
12,347.2,"8,947.5","7,497.6","1,311.7",476.2,"2,305.6","11,230.8","1,668.1",527.7,"1,037.7","2,209.4",785.3,604.1,985.7,"2,776.9",964.7,149.1,95.4,85.5,41.4
13,370.8,"8,748.3","7,459.8","1,288.7",464.1,"2,441.0","11,375.9","1,477.2",526.0,"1,044.8","2,182.5",788.1,585.6,"1,025.7","2,776.2",968.3,149.3,95.6,85.9,41.6
14,378.6,"8,528.9","7,658.9","1,329.2",493.0,"2,294.9","12,179.0","1,510.3",565.0,"1,086.4","2,176.6",794.1,574.5,"1,056.8","2,763.3",977.8,149.5,95.7,86.4,41.7
15,370.8,"8,371.6","7,646.7","1,297.2",476.9,"2,165.4","13,165.1","1,265.1",550.2,"1,086.0","2,171.6",797.4,566.1,"1,068.2","2,761.3",983.5,149.6,95.8,89.7,41.8
16,353.1,"8,082.7","7,642.1","1,249.7",502.8,"2,164.6","11,087.3","1,212.5",565.0,"1,064.5","2,151.1",797.0,566.4,"1,070.0","2,753.9",964.4,149.6,95.8,87.8,41.9
17,341.3,"7,270.2","7,283.9","1,215.2",498.9,"2,160.6","10,425.5","1,261.5",522.3,"1,058.5","2,153.7",799.7,563.3,"1,071.0","2,739.0",963.5,149.5,95.7,89.3,42.1
18,330.8,"7,039.0","7,007.1","1,166.9",477.1,"2,261.3","10,360.2","1,254.3",524.1,"1,054.4","2,161.0",801.9,567.0,"1,078.7","2,740.6",956.8,149.6,95.7,89.0,42.2
19,349.0,"7,672.5","7,368.1","1,185.3",460.6,"2,164.3","11,743.8","1,152.3",509.9,"1,061.2","2,215.6",803.9,574.8,"1,077.4","2,766.8",963.6,149.9,95.9,93.0,42.3
20,356.5,"7,560.7","6,845.3","1,154.3",470.9,"2,200.5","8,790.4","1,143.5",526.6,"1,016.5","2,291.3",805.3,581.9,"1,077.8","2,752.0",964.0,149.7,95.8,87.6,42.4
21,370.2,"7,262.8","6,982.8","1,212.9",468.1,"2,204.7","8,836.8","1,163.9",496.0,"1,095.9","2,308.5",806.3,591.4,"1,082.0","2,719.3",966.3,149.8,95.8,89.4,42.5
22,367.4,"7,597.7","7,452.0","1,232.6",448.2,"1,938.0","9,089.9","1,236.3",535.5,"1,103.0","2,312.9",807.0,605.2,"1,089.0","2,773.9",960.0,150.0,96.0,91.6,42.7
23,386.4,"7,427.3","7,409.4","1,218.2",432.5,"1,943.0","9,944.1","1,423.5",517.0,"1,108.3","2,315.7",808.5,619.4,"1,086.7","2,788.7",967.3,150.0,96.0,92.7,42.8
24,368.0,"7,546.3","7,314.9","1,203.1",471.5,"1,952.8","8,124.4","1,407.2",540.9,"1,112.8","2,272.8",808.7,635.5,"1,088.1","2,785.4",968.1,150.0,96.0,89.8,42.9
25,358.1,"7,259.0","7,329.5","1,211.6",489.9,"2,099.3","8,574.5","1,308.4",505.4,"1,113.9","2,238.9",809.3,648.5,"1,091.4","2,788.7",964.5,150.2,96.1,90.3,43.0
26,322.7,"6,968.4","7,185.7","1,197.6",497.4,"2,084.0","9,147.5","1,243.3",526.7,"1,088.7","2,261.6",808.7,659.8,"1,097.5","2,775.5",954.7,150.1,96.4,90.7,43.2
27,296.1,"6,816.6","6,620.9","1,178.8",494.6,"1,973.0","9,915.1","1,197.0",505.5,"1,095.8","2,351.9",807.1,667.0,"1,091.8","2,757.6",961.1,149.7,95.7,93.1,43.3
28,233.2,"6,953.3","7,064.1","1,209.4",479.9,"1,904.0","8,822.4","1,266.4",528.1,"1,108.0","2,457.4",805.7,675.7,"1,093.5","2,764.1",966.2,149.7,95.7,93.4,43.4
29,204.2,"6,738.2","6,863.1","1,206.9",462.6,"1,902.4","9,072.1","1,265.0",501.5,"1,113.8","2,477.0",804.9,687.3,"1,099.3","2,812.8",970.8,150.0,95.9,94.2,43.6
30,194.0,"6,960.5","7,041.1","1,242.6",474.2,"1,961.9","9,702.5","1,295.6",529.1,"1,130.9","2,453.7",803.6,697.3,"1,105.4","2,835.4",967.4,150.3,96.1,93.2,43.7
31,225.9,"6,863.1","6,740.5","1,207.5",476.8,"1,898.4","11,014.4","1,194.1",509.7,"1,147.8","2,467.8",802.5,701.7,"1,099.9","2,840.8",968.5,150.1,96.0,96.6,43.8
32,256.1,"6,559.4","6,701.7","1,179.7",479.5,"1,865.3","8,753.4","1,173.3",502.8,"1,129.0","2,427.3",800.7,684.1,"1,092.7","2,855.5",965.5,149.7,95.7,89.3,43.9
33,280.1,"6,013.6","6,196.3","1,065.3",477.7,"1,661.1","5,906.3",765.8,387.0,"1,090.0","2,385.8",797.5,649.8,"1,072.3","2,875.7",963.5,149.2,95.3,88.3,44.1
34,285.1,"5,926.4","5,727.0",998.7,490.4,"1,604.3","9,044.7",853.3,402.1,"1,103.7","2,397.6",797.1,603.5,"1,074.7","2,834.5",961.6,149.6,95.6,92.7,44.2
35,287.8,"5,650.6","5,691.3","1,097.0",497.5,"1,550.7","10,193.0",821.6,379.7,"1,105.6","2,448.7",797.9,527.9,"1,074.9","2,760.8",961.9,149.6,95.6,91.8,44.3
36,256.4,"5,901.5","5,980.1","1,160.4",492.0,"1,717.2","7,873.4",857.3,378.9,"1,101.3","2,519.0",797.2,482.2,"1,073.5","2,795.8",961.5,149.4,95.4,89.6,44.4
37,238.6,"5,708.6","6,066.7","1,141.8",500.0,"1,624.7","6,554.7",886.9,378.6,"1,093.6","2,545.4",794.9,483.8,"1,072.6","2,875.4",960.3,149.3,95.3,100.7,44.5
38,219.5,"5,589.9","6,100.6","1,192.6",513.8,"2,187.1","8,315.8",918.2,394.9,"1,105.4","2,551.5",794.7,533.8,"1,078.2","2,870.9",958.5,149.8,95.7,101.0,44.6
39,218.7,"5,669.7","6,169.4","1,151.1",498.2,"1,743.3","9,207.6","1,000.4",418.8,"1,115.2","2,535.2",794.5,606.2,"1,081.6","2,849.6",958.3,149.7,95.7,121.6,44.7
40,204.5,"5,573.5","6,308.3","1,149.6",497.9,"1,963.1","7,691.1","1,039.9",426.6,"1,097.7","2,510.1",793.4,654.5,"1,082.4","2,805.6",958.1,149.6,95.6,112.1,44.8
41,208.5,"5,683.4","6,324.1","1,113.1",497.2,"1,890.9","8,118.8","1,071.2",479.1,"1,102.1","2,462.1",791.9,677.6,"1,087.9","2,855.8",957.4,149.7,95.7,98.9,44.8
42,196.3,"6,079.8","6,572.4","1,185.5",502.4,"1,917.3","8,426.2","1,271.7",491.9,"1,106.5","2,425.0",791.2,681.8,"1,093.7","2,854.9",957.8,150.0,95.9,98.7,45.0
43,204.7,"5,670.9","6,419.2","1,145.9",490.7,"1,769.7","9,425.2","1,271.5",466.4,"1,117.2","2,433.1",791.1,645.0,"1,091.9","2,814.2",957.0,150.0,95.9,96.3,45.1
44,196.2,"5,630.0","6,189.8","1,125.3",487.3,"1,745.3","8,386.3","1,189.0",491.9,"1,103.9","2,453.4",789.8,650.3,"1,089.6","2,788.3",954.4,149.7,95.6,88.8,45.2
45,205.2,"5,572.6","6,276.9","1,131.1",495.9,"2,024.0","9,153.4","1,237.6",519.2,"1,129.3","2,498.2",793.6,681.3,"1,116.1","2,818.2",952.9,153.8,98.7,92.3,45.3